---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=501ca779154b021cecf70ec2b1093858&zip=90210,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-118.4065,"lat":34.0901},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":291.2,"feels_like":289.97,"temp_min":288.81,"temp_max":293.25,"pressure":1013,"humidity":35},"visibility":10000,"wind":{"speed":5.66,"deg":10},"clouds":{"all":0},"dt":1701043982,"sys":{"type":2,"id":2082254,"country":"US","sunrise":1701009402,"sunset":1701045929},"timezone":-28800,"id":0,"name":"Beverly
        Hills","cod":200}'
  recorded_at: Mon, 27 Nov 2023 00:21:19 GMT
recorded_with: VCR 6.2.0
