<h2>Current temperature:</h2> 
<h3><%=weather_data[:current_temp]%>°F</h3>
<h2>Today's High:</h2>
<h3><%=weather_data[:temp_high]%>°F</h3>
<h2>Today's Low:</h2>
<h3><%=weather_data[:temp_low]%>°F</h3>
<h2>Weather:</h2>
<h3><%=weather_data[:weather]%></h3>